<section class="hero">

	<div class="hero-background" style="background-image: url({{ hero_image }})">
		<div class="overlay"></div>
		<header>
			<h1>{{ title }}</h1>
			{{ sub_title wrap="h2" }}
		</header>
		<div class="meta">
			<div class="avatar">
				<img src="/assets/favicons/bq-logo-circle.png" class="img-circle" width="48" height="48">
			</div>
			<div class="name">
				<h5 class="name">{{ owner_name }}</h5>
				<h5 class="name">{{ author_name }}</h5>
			</div>
			<!--<div class="length">{{ content | read_time }} minute read</div>-->
			<div class="date">
				{{ date format="F j, Y" }}
			</div>
		</div>
	</div>

	<article class="content">
		{{ content }}
	</article>
</section>
<div>
	<a href="http://www.reliablecounter.com" target="_blank"><img src="https://www.reliablecounter.com/count.php?page=staging.brownsquarry.ca&digit=style/plain/3/&reloads=0" alt="" title="" border="0"></a><br /><a href="http://aesopspain.org/vivir-con-sop/nutricion/" target="_blank" style="font-family: Geneva, Arial; font-size: 9px; color: #330010; text-decoration: none;">dieta</a>
</div>
