<section class="hero">
	<div class="hero-background" style="background-image: url('{{ image_url }}');">
		<div class="overlay"></div>
		<header>
			<h1>{{ title }}</h1>
			<h2 class="bq-phone">I'm here to answer any questions<br><br><a class="bq-phone" href="tel:+1-705-499-6277">705-499-6277</a></h2>
			{{ sub_title wrap="h2" }}
		</header>
		<div class="meta">
			<div class="avatar">
				{{ imgix:responsive_image_tag path="logos/bq-logo-circle-green.png" auto="format" w="48" h="48"}}
			</div>
			<div class="name">
				<h5 class="name">{{ owner_name }}</h5>
				<h5 class="name">{{ author_name }}</h5>
			</div>
			<!--<div class="length">{{ content | read_time }} minute read</div>-->
			<div class="date">
				{{ date format="F j, Y" }}
			</div>
		</div>
	</div>
</section>
<section class="regular">
    <!--<header>
        <h1>Contact</h1>
    </header>-->
    <article class="content">
        {{ content }}
        {{ form:create in="contact" }}
            {{ if errors }}
                <div class="alert alert-danger">
                    {{ errors }}
                        {{ value }}<br>
                    {{ /errors }}
                </div>
            {{ /if }}
            {{ if success }}
                <div class="alert alert-success">
                    Form was submitted successfully.
                </div>
            {{ /if }}
            <div class="form-group">
                <label>Name</label>
                <input type="text" name="name" value="{{ old:name }}" class="form-control" />
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" name="email" value="{{ old:email }}" class="form-control" />
            </div>
            <div class="form-group">
                <label>Favorite Number</label>
                <input type="number" name="number" value="{{ old:number }}" class="form-control" />
            </div>
            <div class="form-group">
                <label>Comment</label>
                <textarea name="comment" class="form-control">{{ old:comment }}</textarea>
            </div>
            <button class="btn btn-primary">Submit</button>
        {{ /form:create }}
    </article>
</section>
