<section class="container-fluid gallery">

	<header>
		<h1>{{ title }}</h1>
		{{ content wrap="h2" }}
	</header>

<!--<div class="gallery-images">
	{{ images }}<img src="{{ value }}" alt="{{ value | get:alt }}"/>{{ /images }}
</div>-->

<div class="gallery-images">
	<!--{{ images }}{{ imgix:responsive_image_tag path="{{ value }}" ch="Width,DPR" auto="compress,enhance,format" w="475" }}{{ /images }}-->
	{{ images }}{{ imgix:responsive_image_tag path="{{ value }}" }}{{ /images }}
</div>
</section>
