<section class="container-fluid gallery">

	<header>
		<h1>{{ title }}</h1>
		{{ content wrap="h2" }}
	</header>
	<!--<div class="gallery-images">
		{{ images }}<img src="{{ glide:value width='325' fit='crop' }}" width="325" />{{ /images }}
		<img src="{{ glide:value width='325' fit='crop' }}" width="325" />-->
		<!--<figcaption>{{ caption }}</figcaption>-->
	<!--</div>-->
	<!--<div class="gallery-images">
		{{ elixir widths="200,400,600,800,1000" fallback="2"}}
		  {{ get_files in="/assets" limit="12" }}
		    <img data-elixir="{{ transform
				 src='{ file }'
				 destination='/assets/resized'
				 width='{ width }'
				 action='smart'
				 quality='60'
			 }}">
		  {{ /get_files }}
		{{ /elixir }}
	</div>


	<div class="gallery-images lazy">
		{{ images }}<img data-elixir="{{ value }}" alt="{{ value | get:alt }}"/>{{ /images }}
	</div>
</section>-->

<div class="gallery-images">
	{{ images }}<img src="{{ value }}" alt="{{ value | get:alt }}"/>{{ /images }}
</div>
</section>

<!--<script>
elixir({
	".lazy": {
		"widths": [200,400,600,800,1000]
	}
});

//$(".lazy img").unveil();
</script>-->
