<section class="hero">
	<div class="hero-background" style="background-image: url('{{ image_url }}');">
		<div class="overlay"></div>
		<header>
			<h1>{{ title }}</h1>
			<h2>Click on Projects to view additional Photos<br><br>References always available</h2>
		</header>
		<div class="meta">
			<div class="avatar">
				{{ imgix:responsive_image_tag path="logos/bq-logo-circle-green.png?auto=compress,enhance,format&w=48&h=48"}}
				<!--<img src="{{ bq_avatar }}" class="img-circle" width="48" height="48">-->
			</div>
			<div class="name">
				<h5 class="name">{{ owner_name }}</h5>
				<h5 class="name">{{ author_name }}</h5>
			</div>
			<!--<div class="length">{{ content | read_time }} minute read</div>-->
			<div class="date">
				{{ date format="F j, Y" }}
			</div>
		</div>
	</div>
</section>
<section class="container-fluid">
    <div class="tiles">
        {{ collection:portfolio }}
        <a href="portfolio/{{ slug }}" class="item">
            <div class="image" style="background-image: url('{{ image_url }}');">
                <h3 class="caption">{{ title }}</h3>
            </div>
        </a>
        {{ /collection:portfolio }}
    </div>
</section>
