<section class="hero">

	<div class="hero-background" style="background-image: url(/assets/panoramas/pano-products-1350-600.jpg)">
		<div class="overlay"></div>
		<header>
			<h1>{{ title }}</h1>
			<h2>Call me anytime for a quote<br>Budd Brown (705) 499-6277</h2>
		</header>
		<div class="meta">
			<div class="avatar">
				<img src="/assets/bq-logo-circle-exported.svg" class="img-circle" width="48" height="48">
			</div>
			<div class="name">
				<h5 class="name">{{ owner_name }}</h5>
				<h5 class="name">{{ author_name }}</h5>
			</div>
			<!--<div class="length">{{ content | read_time }} minute read</div>-->
			<div class="date">
				{{ date format="F j, Y" }}
			</div>
		</div>
	</div>


</section>

<section class="container-fluid gallery">

	<header>
		<h1>{{ title }}</h1>
		{{ content_raw wrap="h2" }}
	</header>

    <div class="tiles">
        {{ collection:products }}
        <a href="products/{{ slug }}" class="item">
            <div class="image" style="background-image: url('{{ image_url }}');">
                <h3 class="caption">{{ title }}</h3>
            </div>
        </a>
        {{ /collection:products }}
    </div>

</section>
